/**
 * Style générale 
 */

:root{
    --primaryColor : gold;
    --secondaryColor : rgb(48, 44, 20);
    --primaryBg : rgb(255, 255, 255);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(206, 206, 206);
}

section,
header,
main{
    width: 100%;
}

button{
    font-size: 14px;
    font-weight: 700;
}

/**
 * Le header
 */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
    background-color: white;
    flex-wrap: wrap-reverse;
    z-index: 5;
    gap: 10px;
}

header .logo{
    font-size: 28px;
    font-weight: 900;
    color: black;
    transition: all .5s;
}

header .logo:hover{
    font-size: 30px;
    font-weight: 900;
    transition: all .5s;
}

header .logo span{
    color: var(--primaryColor);
    font-weight: 900;
    backdrop-filter: blur(100px);
}

header .searchBar{
    width: 300px;
    padding: 10px 20px;
    border-radius: 10px;
}

header ul{
    display: flex;
    align-items: center;
}

header .icones{
    justify-content: end;
    gap: 25px;
}

header .icones a{
    color: black;
}

header .icones a span{
    opacity: 0;
    
}

header .menuOvrant{
    color: black;
}

header .menuFermant{
    color: black;
    display: none;
}

/**
 * Nav
 */

main{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

nav{
    width: 250px;
    height: 90vh;
    padding: 50px 10px 10px 20px;
    background-color: white;
    position: absolute;
    left: 0%;
    z-index: -1;
}

nav ul li{
    margin-bottom: 15px;
}

nav ul li a{
    color: black;
    font-size: 18px;
    font-weight: 600;
}

section{
    position: absolute;
    right: 0%;
    width: calc(100% - 250px);
    padding: 30px 4%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    flex-direction: column;

}
section .container1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-content: center;
}

section .container1 .box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
    color: black;
    padding: 30px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgb(192, 192, 192);
}

section .container1 .box svg{
    color: var(--primaryColor);
    width: 40px;
    height: 40px;
}

section .container1 .box div h2{
    font-size: 18px;
    font-weight: 600;
}

section .container1 .box h2 + p{
    font-size: 12px;
}

section .container1 .box h2 + p span{
    margin-left: 30px;
}

section .container2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 30px 0px;
    justify-content: center;
}

section .container2 .box{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 2px rgb(192, 192, 192);
}

section .container2 .box .boxHeading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px 0px;
    margin-bottom: 10px;
}

section .container2 .box .boxHeading h3{
    border-bottom: 3px solid var(--primaryColor);
}

section .container2 .box .boxHeading .filtreMobile select{
    border-radius: 5px;
    padding: 2px 4px;
}

section .container2 .box .infos{
    width: 100%;
}

section .container2 .box .infos table{
    border-collapse: collapse;
    width: 100%;
}

section .container2 .box .infos table tr{
    width: 100%;
    border-bottom: 1px solid rgb(230, 230, 230);
}

section .container2 .box .infos table tr td{
    padding: 10px;
}

section .container2 .box .infos table tr .img img{
    width: 40px;
    height: 30px;
    object-fit: contain;
}




@media screen and (max-width:970px) {
    section .container1{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:760px) {
    nav{
        left: -200%;
    }

    section{
        width: 100%;
    }
}

@media screen and (max-width:700px) {
    section .container2{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:485px) {
    section{
        max-width: 85%;


    }
    section .container1{
        grid-template-columns: repeat(1, 1fr);
        overflow-x: scroll;
        width: 100%;
    }

    section .container2 {
        width: 100%;
    }
}
