/**
 * La section details
 */


.details .heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px 0px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.details .heading h2{
    border-bottom: 3px solid var(--primaryColor);
}

.details .boxLeft{
    padding: 20px 5px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    flex-wrap: wrap;
    color: black;
}

.details .boxLeft .img{
    width: fit-content;
}

.details .boxLeft img{
    object-fit: cover;
    object-position: center;
    max-width: 550px;
    max-height: 350px;
    height: 300px;
    border-radius: 5px;
}

.details .boxLeft .rowImg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}

.details .boxLeft .rowImg img{
    width: 80px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
    transform: rotateY(1deg);
    transition: ease-in-out .9s;
}
.details .boxLeft .rowImg img:hover{
    transform: rotateY(25deg);
    border-right: 4px solid rgba(255, 255, 255, 0.603);
    transition: all 2s;
}

.details .boxLeft .infos{
    padding-left: 15px;
    font-size: 16px;
    width: fit-content;
}

.details .boxLeft .infos h3{
    font-weight: 700;
    color: var(--secondaryColor);
    font-size: 22px;
    margin-bottom: 15px;
}

.details .boxLeft .infos svg{
    color: var(--primaryColor);
    margin-bottom: 10px;
}

.details .boxLeft .infos .btnQuantite{
    padding: 5px 0px;
    background-color: rgb(141, 138, 118);
    width: fit-content;
    padding:5px 7px;
    border-radius: 6px;
    color: white;
}

.details .boxLeft .infos .btnQuantite button{
    padding: 0px 0px 5px 0px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: white;
}

.details .boxLeft .infos .btnQuantite .moins{
    background-color: red;
    border: 1px solid red;
    border-radius: 50%;
}

.details .boxLeft .infos .btnQuantite .plus{
    background-color: green;
    border: 1px solid green;
    border-radius: 50%;
}

.details .boxLeft .infos .btnQuantite span{
    padding: 0px 10px;
    font-size: 22px;
    font-weight: 600;
}

.details .boxLeft .infos .prix{
    font-weight: 700;
    font-size: 19px;
    color: var(--secondaryColor);
}

.details form button{
    padding: 10px;
    border: 1px solid var(--primaryColor);
    background-color: var(--primaryColor);
    border-radius: 5px;
    margin: 10px 0px;
    transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.details form button:hover{
    background-color: rgb(255, 247, 203);
    transition: all .2s;
}

.details .boxLeft .infos ul{
    margin-top: 10px;
    padding-left: 0px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.details .boxLeft .infos ul li{
    padding-bottom: 5px;
    border-bottom: black solid 4px;
}

.details .boxLeft .infos a button{
    padding: 10px 15px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 1px solid var(--primaryColor);
    background-color: var(--primaryColor);
    color: black;
    box-shadow: 1px 1px 3px 1px rgb(255, 222, 139);
    text-align: center;
    transition: all .6s;
}

.details .boxLeft .infos #supprimer{
    padding: 10px 15px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 1px solid brown;
    background-color: brown;
    color: white;
    box-shadow: 1px 1px 3px 1px rgb(226, 89, 89);
    text-align: center;
    transition: all .6s;
    margin-left: 6px;
}

.details .boxLeft .infos a button:hover{
    background-color: rgb(238, 229, 181);
    transition: all .6s;
}

.details .boxLeft .infos .btnProduitDetail{
    
}

/**
 * La section top vendu
 */

.topVendus{
    padding: 30px 4% 50px;
}

.topVendus .heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px 0px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.topVendus .heading h2{
    border-bottom: 3px solid var(--primaryColor);
}

.topVendus .heading ul{
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 35px;
    width: fit-content;
    margin: 0px;
    padding: 0px;
}

.topVendus .heading .filtreMobile{
    display: none;
    align-items: center;
    justify-content: center;
    gap: 4px;

}

@media screen and (max-width: 750px) {
    .topVendus .heading ul{
        display: none;
    }

    .topVendus .heading .filtreMobile{
        display: flex;
    }
}

@media screen and (max-width: 350px){
    .topVendus .heading h2{
        font-size: 18px;
    }
}

.topVendus .heading .filtreMobile select{
    border-radius: 5px;
    padding: 2px 4px;
}

.topVendus .heading ul li{
    font-size: 18px;
    font-weight: 600;
}

.topVendus .heading ul .active{
    color: var(--primaryColor);
    border-bottom: 3px solid var(--primaryColor);
}

.topVendus .row{
    width: 100%;
    padding: 30px 0px 10px;
    display: flex;
    gap: 15px;
    justify-content: start;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    padding-left: 15px;
}

.topVendus .row::-webkit-scrollbar {
    display: none; /* Chrome, Safari et Opera */
}

.topVendus .row .produit{
    text-align: center;
    box-shadow: 2px 2px 4px 2px rgb(216, 216, 216);
    min-width: 180px;
    width: 230px;
    border-radius: 4px;
}

.topVendus .row .produit img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 140px;
    border-radius: 4px 4px 0px 0px;
}

.topVendus .row .produit .infos{
    padding: 5px;
    font-size: 14px;
}

.topVendus .row .produit .infos h3{
    font-weight: 700;
    line-height: 34px;
    color: var(--secondaryColor);
}

.topVendus .row .produit .infos svg{
    color: var(--primaryColor);
    width: 13px;
    height: 13px;
    margin: 5px 0px;
}

.topVendus .row .produit .infos .prix{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 3px;
    line-height: 28px;
    color: var(--secondaryColor);
}
@media screen and (max-width:350px) {
    .details .boxLeft{
        width: 100%;
    }

    .details .boxLeft img{
        width: 100%;
    }
}

#modal{
    width: fit-content;
    padding: 15px;
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 7px;
    position: absolute;
    top: -100%;
    left: 20%;
    text-align: center;
    transition: all 0.7s;
}

#modal .titre{
    font-size: 22px;
    font-weight: 700;
}

#modal .titre + p{
    margin-top: 10px;
    margin-bottom: 30px;
}

#modal .btn{
    padding: 10px;
    border-radius: 7px;
}



#modal .non{
    padding: 10px;
    border: 1px solid gray;
    background-color: gray;
    color: black;
    margin-right: 10px;
}

#modal .oui{
    padding: 10px;
    border: 1px solid red;
    background-color: red;
    box-shadow: none;
    color: white;
    
}