section a button{
    padding: 10px;
    box-shadow: 2px 2px 3px 2px rgb(126, 126, 126);
    border-radius: 6px;
    background-color: rgb(255, 226, 61);
    border: 1px solid rgb(255, 224, 47);
    color: black;
    transition: all .5s;
}

section a button:hover{
    background-color: white;
    box-shadow: 2px 2px 3px 2px rgb(192, 186, 151);
    transition: all .5s;
}

section .container2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding: 30px 3%px;
}

section .container2 table tr td a button{
    padding: 5px;
    border-radius: 4px;
    background-color: blue;
    border: 1px solid blue;
    color: white;
}