/**
 * Style css pour adapter le site au format mobile
 */

@media screen and (max-width:850px) {
    header .icones{
        width: 100vw;
        justify-content: center;
    }
    
    header .menuOvrant{
        display: block;
    }

    header .menu{
        flex-direction: column;
        text-align: left;
        width: 100vw;
        margin: 0px;
        min-height: fit-content;
        background-color: rgba(255, 248, 208, 0.904);
        position: absolute;
        top: -100px;
        right: 0px;
        padding: 25px 2px 15px;
        z-index: -2;
        transition: all 1s;
    }
}

@media screen and (max-width:450px) {
    .heros h1{
        font-size: clamp(38px, 42px, 46px);
        letter-spacing: 2px;
        margin-bottom: 25px;
    }

    .heros h1 + p{
        margin-bottom: 40px;
    }
}

@media screen and (max-width:320px) {
    .produits .row .box{
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    footer .credit{
        justify-content: space-evenly;
    }
}