/**
 * Style générale 
 */

:root{
    --primaryColor : gold;
    --secondaryColor : rgb(48, 44, 20);
    --primaryBg : rgb(255, 255, 255);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: var(--primaryBg);
}

section,
header,
main{
    width: 100%;
}

button{
    font-size: 14px;
    font-weight: 700;
}

/**
 * Le header
 */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
    background-color: white;
    flex-wrap: wrap-reverse;
    z-index: 5;
    gap: 10px;
}

header ul{
    display: flex;
    align-items: center;
}

header .menu{
    justify-content: start;
    gap: 20px;
    width: fit-content;
}

header .menu li a{
    color: black;
    font-size: 20px;
    font-weight: 700;
    transition: all .5s;
}

header .menu li a:hover,
header .menu li .active{
    padding-bottom: 5px;
    border-bottom: 3px solid var(--primaryColor);
    transition: all .5s;
}

header .logo{
    font-size: 28px;
    font-weight: 900;
    color: var(--secondaryColor);
    transition: all .5s;
}

header .logo:hover{
    font-size: 30px;
    font-weight: 900;
    transition: all .5s;
}

header .logo span{
    color: var(--primaryColor);
    font-weight: 900;
    backdrop-filter: blur(100px);
}

header .icones{
    justify-content: end;
    gap: 25px;
}

header .icones a{
    color: black;
}

header .icones a span{
    opacity: 0;
    
}

header .menuOvrant,
header .menuFermant{
    color: black;
    display: none;
}

/**
 * Main
 */

main{
    padding: 0px;
    margin: 0px;
}

/**
 * Le footer
 */

footer{
    width: 100%;
}

footer .footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    padding: 30px 25px;
    gap: 20px;
    background-color: rgb(20, 20, 20);
}

footer .footer div{
    max-width: 260px;
}

footer .footer div h3{
    color: var(--primaryColor);
    font-size: clamp(26px, 28px, 32px);
    font-weight: 700;
    margin-bottom: 20px;
}

footer .footer div h3 + p,
footer .footer div ul li a{
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}

footer .footer .usefulLinks a{
    font-size: 20px;
    font-weight: 700;
}

footer .footer .usefulLinks li{
    margin-bottom: 10px;
}

footer .footer div ul li a:hover{
    color: blue;
    text-decoration: underline;
}

footer .footer .socialLinks ul {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    flex-wrap: wrap;
}

footer .footer .socialLinks ul li a span{
    opacity: 0;
}

footer .footer .socialLinks ul .insta svg{
    background: -webkit-linear-gradient(90deg, #f9ce34, #ee2a7b, #6228d7); /* Pour Chrome et Safari */
    background: -moz-linear-gradient(90deg, #f9ce34, #ee2a7b, #6228d7); /* Pour Firefox */
    background: -o-linear-gradient(90deg, #f9ce34, #ee2a7b, #6228d7); /* Pour Opera */
    background: linear-gradient(90deg, #f9ce34, #ee2a7b, #6228d7); /* Standard pour les navigateurs modernes */
    border-radius: 5px;
}

footer .credit{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    flex-wrap: wrap-reverse;
    color: white;
    gap: 20px;
    background-color: black;
    text-align: center;
}

footer .credit p strong{
    color: var(--primaryColor);
}

footer .credit ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

main .backToTop{
    position: absolute;
    bottom: 20px;
    right: 20px;

}

main .backToTop span{
    opacity: 0;
}
